#root {
    font-family: ubuntu;
    margin: 0 auto;
    margin-top: 18px;
    width: 85%;
}

h1 {
    background-color: #efeaf4;
    padding: 10px 15px;
}

i.fa {
    margin: 0 12px;
    color: #444;
}

i.fa:hover {
    color: black;
    cursor: pointer;
}

.smallNav {
    width: 75%;
}
